<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnc3UcXj58iPb2zrw36YaLqwTYIakdVR0</string>
	<key>GCM_SENDER_ID</key>
	<string>741427068413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCourseAug23Session9Firebase</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-eced2</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-eced2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741427068413:ios:8db9553e5a0d0bbc6aed94</string>
</dict>
</plist>